@import "./fonts.css";

body {
  font-family: vazir, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
  position: relative;
  * {
    box-sizing: border-box;
  }
}

p {
  margin: 0;
}
button {
  font-family: inherit;
}

@media (hover: hover) {}

@media (min-width: 1024px) {}
